.container {
    background-color: white;
    height: 50px;
}

.header li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

.header li a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}

.header li a:hover {
    color: aqua;
}



@media screen and (max-width: 400px) {
    .header img {
        width: 360px;
        height: 100px;

    }
}



@media screen and (max-width: 400px) {
    .middle-section-2 img {
        height: 440px;
        width: 400px;
        overflow-x: scroll;
    }
}
@media screen and (min-width: 820px) {
    .header img {
        width: 790px;
        height: 100px;
    }
}

@media screen and (min-width: 820px) {
    .middle-section {
        overflow-x: scroll;
    }
}

@media screen and (min-width: 820px) {
    .middle-section-2 img {
        width: 790px;
        height: 400px;

    }
}

@media screen and (min-width: 820px) {
    .footer img {
        width: 790px;
    }
}

@media screen and (min-width: 1050px) {
    .header img {
        width: 1050px;
        height: 100px;
    }
}

@media screen and (min-width: 1050px) {
    .footer img {
        width: 340px;
        height: 100px;
    }
}

@media screen and (min-width: 1050px) {
    .middle-section {
        overflow-x: hidden;
    }
}

@media screen and (min-width: 1050px) {
    .middle-section-2 img {
        width: 510px;
        height: 440px;

    }
}

.card:hover {
    cursor: pointer;
    color: blue;
}

.footer li a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 35px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 35px;
}

.fa-google {
    background: #dd4b39;
    color: white;
    border-radius: 35px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 35px;
}

@media screen and (max-width: 480px) {
    .middle-section img {
        width: 360px;
        height: 200px;
    }
}

.flip-box {
    background-color: transparent;
    width: 500px;
    height: 440px;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    color: black;
}

.flip-box-back {
    color: white;
    transform: rotateY(180deg);
}